.config
.editorconfig
.gitattributes
.github
.husky
.prettierignore
.prettierrc
.sharedconfig.yml
.vscode
codecov.yml

# !ignorefile-merge block-open @tagproject/docs-shared-config
# ---------------------------------------------------------------
# This block generated automatically
# @see https://www.npmjs.com/package/ignorefile-merge
# ---------------------------------------------------------------

.env
CODE_OF_CONDUCT.md
SECURITY.md
docs/
example/
media/
node_modules/

# !ignorefile-merge block-close @tagproject/docs-shared-config
